extends layout

block content
  .jumbotron
    h1 IAESTE España
    p.lead Consulta las prácticas que participan en el intercambio.
  .row
    .col-md-12
        table.table.table-striped
            thead
                tr
                    th Referencia
                    th Empresa
                    th Idioma
            tbody
                tr
                    td ES-2017-001
                    td Shore
                    td Inglés
                tr
                    td ES-2017-002
                    td Shore
                    td Inglés
                tr
                    td ES-2017-003
                    td Shore
                    td Inglés
